<ion-view title="Contact">
    <ion-content>
        <div id="aboutme">
            <p>Étudiant au Samsung Campus, la formation Web & Apps Coding, dispensée par Epitech, initie au métier de développeur web et d'applications mobiles. Cette dernière, labellisée Grande École du Numérique, s'étend sur deux ans.
            <br>
            Mon ouverture sur la technologie a commencé par les jeux vidéos. En effet, après plusieurs expériences dans ce monde, je me suis souvent posé la question : "Comment ça marche ?". Suite à ça j'ai décidé de me lancer et de comprendre un peu mieux le fonctionnement intrinsèque de ma première passion, c'est ainsi que commence mon initiation à la programmation. Néophyte, je décide quand même de tenter ma chance au Samsung Campus, suite à une période de sélection intense je suis accepté et je suis, en ce moment, à la recherche d'un contrat en alternance.
            <br>
            Je souhaite aujourd'hui faire partie de votre entreprise afin d'approfondir mes compétences et vous apporter celles que je maîtrise déjà. Le poste de développeur Ionic que vous proposez correspond parfaitement à mes ambitions professionnelles.</p>
        </div>
    </ion-content>
</ion-view>