/* Empty. Add your own CSS if you like */
.columnOfThree {
    width: 70%;
    margin: 0 auto;
    margin-bottom: 5px;
    margin-top: 5px;
}

#result p {
    text-align: center;
    font-size: 2em;
    margin-top: 5px;
}

#operators {
    width: 274px;
    margin: 0 auto;
}

#centerMiddle {
    margin: 0 auto;
    width: 56px;
}

#zero {
    margin-bottom: 5px;
}

#aboutme {
    font-weight: lighter !important;
    line-height: 2;
    font-size: 15px;
    width: 90%;
    text-align: justify;
    margin: 0 auto;
}